<style>
    footer {
        background-color: blueviolet;
        margin: 0;
        height: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
</style>
<footer>
   <p style="text-align: center; font-size: 20px">created by Alkindi</p> 
</footer>