<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        main{
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
    <title>Edit Page</title>
</head>
<body>
    <%-include('partials/Navbar')%>
    <main>
        <form action="/todos/<%= editData.id %>/edit" method="POST">
            <label for="">Todo</label>
            <input value="<%= editData.todo %>" type="text" name="todo" id=""><br>
            <button type="submit">Edit</button>
        </form>
    </main>
    <%-include('partials/Footer')%>
</body>
</html>